## Data Wrangling

In [55]:
import pandas as pd

df = pd.read_csv("./data/covid_data.csv")
df.head(10)

,USMER,MEDICAL_UNIT,SEX,PATIENT_TYPE,DATE_DIED,INTUBED,PNEUMONIA,AGE,PREGNANT,DIABETES,...,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,CLASIFFICATION_FINAL,ICU
0,2,1,1,1,03/05/2020,97,1,65,2,2,...,2,2,1,2,2,2,2,2,3,97
1,2,1,2,1,03/06/2020,97,1,72,97,2,...,2,2,1,2,2,1,1,2,5,97
2,2,1,2,2,09/06/2020,1,2,55,97,1,...,2,2,2,2,2,2,2,2,3,2
3,2,1,1,1,12/06/2020,97,2,53,2,2,...,2,2,2,2,2,2,2,2,7,97
4,2,1,2,1,21/06/2020,97,2,68,97,1,...,2,2,1,2,2,2,2,2,3,97
5,2,1,1,2,9999-99-99,2,1,40,2,2,...,2,2,2,2,2,2,2,2,3,2
6,2,1,1,1,9999-99-99,97,2,64,2,2,...,2,2,2,2,2,2,2,2,3,97
7,2,1,1,1,9999-99-99,97,1,64,2,1,...,2,1,1,2,2,2,1,2,3,97
8,2,1,1,2,9999-99-99,2,2,37,2,1,...,2,2,1,2,2,1,2,2,3,2
9,2,1,1,2,9999-99-99,2,2,25,2,2,...,2,2,2,2,2,2,2,2,3,2

### Drop columns with high rates of missing information

In [56]:
df.drop(columns=['CLASIFFICATION_FINAL', 'PATIENT_TYPE', 'PREGNANT', 'INTUBED', 'ICU', 'MEDICAL_UNIT', 'USMER'], inplace=True)

### Drop rows that have missing values

In [57]:
df = df[~(df == 99).any(axis=1)]
df = df[~(df == 98).any(axis=1)]
df = df[~(df == 97).any(axis=1)]
df.shape[0]

1024829

### Convert binary columns values to 0 and 1

In [58]:
df['SEX'] = df['SEX'].replace({1: 0, 2: 1})
df['PNEUMONIA'] = df['PNEUMONIA'].replace({1: 0, 2: 1})
df['DIABETES'] = df['DIABETES'].replace({1: 0, 2: 1})
df['COPD'] = df['COPD'].replace({1: 0, 2: 1})
df['ASTHMA'] = df['ASTHMA'].replace({1: 0, 2: 1})
df['INMSUPR'] = df['INMSUPR'].replace({1: 0, 2: 1})
df['HIPERTENSION'] = df['HIPERTENSION'].replace({1: 0, 2: 1})
df['OTHER_DISEASE'] = df['OTHER_DISEASE'].replace({1: 0, 2: 1})
df['CARDIOVASCULAR'] = df['CARDIOVASCULAR'].replace({1: 0, 2: 1})
df['OBESITY'] = df['OBESITY'].replace({1: 0, 2: 1})
df['TOBACCO'] = df['TOBACCO'].replace({1: 0, 2: 1})
df['RENAL_CHRONIC'] = df['RENAL_CHRONIC'].replace({1: 0, 2: 1})

### Convert death date column to column representing whether the patient died or not

In [59]:
def convert_death(x):
    if x == "9999-99-99":
        return 0
    else: 
        return 1
    
df['DATE_DIED'] = df['DATE_DIED'].apply(convert_death)
df = df.rename(columns={'DATE_DIED': 'DIED'})

### Standardize the Age column

In [60]:
df['AGE'] = (df['AGE'] - df['AGE'].min()) / (df['AGE'].max() - df['AGE'].min())
df['AGE']

0          0.537190
1          0.595041
2          0.454545
3          0.438017
4          0.561983
             ...
1048570    0.330579
1048571    0.421488
1048572    0.454545
1048573    0.231405
1048574    0.429752
Name: AGE, Length: 1024829, dtype: float64

In [61]:
df.head(20)

,SEX,DIED,PNEUMONIA,AGE,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO
0,0,1,0,0.537190,1,1,1,1,0,1,1,1,1,1
1,1,1,0,0.595041,1,1,1,1,0,1,1,0,0,1
2,1,1,1,0.454545,0,1,1,1,1,1,1,1,1,1
3,0,1,1,0.438017,1,1,1,1,1,1,1,1,1,1
4,1,1,1,0.561983,0,1,1,1,0,1,1,1,1,1
5,0,0,0,0.330579,1,1,1,1,1,1,1,1,1,1
6,0,0,1,0.528926,1,1,1,1,1,1,1,1,1,1
7,0,0,0,0.528926,0,1,1,0,0,1,1,1,0,1
8,0,0,1,0.305785,0,1,1,1,0,1,1,0,1,1
9,0,0,1,0.206612,1,1,1,1,1,1,1,1,1,1
10,0,0,1,0.314050,1,1,1,1,1,1,1,1,1,1
11,1,0,1,0.198347,1,1,1,1,1,1,1,1,1,1
12,1,0,1,0.247934,1,1,1,1,1,1,1,1,1,1
13,1,0,1,0.454545,1,1,1,1,1,1,1,1,1,1
14,0,0,1,0.396694,0,1,1,1,1,1,1,1,1,1
15,0,0,1,0.190083,1,1,1,1,1,1,1,1,1,1
16,0,0,0,0.661157,1,1,1,1,0,1,1,1,1,1
17,1,0,1,0.504132,1,1,1,1,1,1,1,1,1,1
18,1,0,1,0.446281,1,1,1,1,1,1,1,1,1,1
19,0,0,1,0.528926,1,1,1,1,1,1,1,1,1,1

### Reorganize the column order

In [62]:
df = df[['AGE', 'SEX', 'PNEUMONIA', 'DIABETES', 'COPD', 'ASTHMA',
       'INMSUPR', 'HIPERTENSION', 'OTHER_DISEASE', 'CARDIOVASCULAR', 'OBESITY',
       'RENAL_CHRONIC', 'TOBACCO', 'DIED']]

In [70]:
df.head(10)

,AGE,SEX,PNEUMONIA,DIABETES,COPD,ASTHMA,INMSUPR,HIPERTENSION,OTHER_DISEASE,CARDIOVASCULAR,OBESITY,RENAL_CHRONIC,TOBACCO,DIED
0,0.537190,0,0,1,1,1,1,0,1,1,1,1,1,1
1,0.595041,1,0,1,1,1,1,0,1,1,0,0,1,1
2,0.454545,1,1,0,1,1,1,1,1,1,1,1,1,1
3,0.438017,0,1,1,1,1,1,1,1,1,1,1,1,1
4,0.561983,1,1,0,1,1,1,0,1,1,1,1,1,1
5,0.330579,0,0,1,1,1,1,1,1,1,1,1,1,0
6,0.528926,0,1,1,1,1,1,1,1,1,1,1,1,0
7,0.528926,0,0,0,1,1,0,0,1,1,1,0,1,0
8,0.305785,0,1,0,1,1,1,0,1,1,0,1,1,0
9,0.206612,0,1,1,1,1,1,1,1,1,1,1,1,0

In [65]:
df.to_csv('./data/covid_data_cleaned.csv', index=False)